body {
    font-family: "Ubuntu", sans-serif;
    min-width: 90vw;
    display:block;
    margin: 0 auto;
    padding: 3rem;
    background: #eee;
    color: #111;
}

a {
    color: #03c;
    text-decoration: none;
}

blockquote {
    background: #f9f9f9;
    border-left: 3px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote p {
    display: inline-block;
}

pre {
    display: inline-block;
}
p + pre {
    margin-left: 0.5em;
}
p + br + p {
    margin-top: -2em;
}

img[src*=SPOILER_]:not(:hover) {
    filter: blur(5px) brightness(10%);
    overflow: hidden;
    transition: 0.2s linear;
    position: relative;
}
img[src*=SPOILER_]:hover {
    transition: 0.2s linear;
}

.topics, .threads {
    display: block;
}

.topics button {
    float: right;
    border: none;
    outline: none;
    padding: 5px;
    background: #ddd;
}

.title, .threadnum {
    padding: 5px;
}

.row {
    display:block;
    margin: 5px 0;
}

.title {
    background: #ddd;
    flex: 3;
    margin: 2px;
}

.threadnum {
    background: #ccc;
    margin: 2px;
    flex: 1;
}

.post {
    display: block;
    width: 100%;
    overflow: hidden;
}

.flex {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;   
    display: flex;
    position: relative;
    white-space: pre-line;
}
.flex.row {
    margin: 5px;
    -moz-box-orient: inline-axis;
    box-orient: inline-axis;
    flex-direction: row;
    width: 100%;
}
.flex.column {
    -moz-box-orient: block-axis;
    box-orient: block-axis;
    flex-direction: column;
}

.header {
    display:block;
    width:100%;
    padding: 5px;
    background: #ccc;
    border: 1px solid #ddd;
}
.header .timestamp {
    font-size: 60%;
}
.header * {
    vertical-align: middle;
}
.userinfo {
    -webkit-box-flex: 1;
    -moz-box-flex:  1;
    -webkit-flex:  1;
    -ms-flex:  1;
    flex: 1;
    background: #ddd;
    border: 1px solid #eee;
    padding: 25px 0 25px 50px;
    margin-right:10px;
}
.userinfo img {
    display: inline-block;
    max-width: 128px;
    max-height: 128px;
}
.postinfo {
    -webkit-box-flex: 8;
    -moz-box-flex:  8;
    -webkit-flex:  8;
    -ms-flex:  8;
    flex:  8;
    padding-bottom: 2em;
    white-space: pre-wrap;
    word-break: break-word;
}
.postinfo img {
    max-width: 50%;
    margin-bottom:5%;
}
.postinfo p {
    white-space: pre-wrap;
    max-width: 50%;
}

.reactions {
    display: none;
}
.reactions .reaction {
    display: inline-block;
    height: 1em;
    padding: 0.25em;
    background: #ddd;
}

.reactions .reaction .emoji {
    height: 100%;
}

.badge {
    display: inline-block;
    width: 1.5em;
    background: #bbb;
    padding: 4px;
    margin: 4px;
}
.top {
    height: 5%;
    display: block;
    color: #222;
    margin: 10px 0;
}
.top a {
    color: black;
}

.nav {
    display: block;
    padding: 15px;
    margin: 10px 0 50px 0;
    background: #ddd;
}

.nav a {
    color: #222;
    text-decoration: none;
    border-bottom: 2px dotted #222;
}

/* mobile */

@media (max-width: 600px) {
    .postinfo img {
        max-width: 100%;
    }
}
