body {
    font-family: "Ubuntu";
    min-width: 90vw;
    display:block;
    margin: 0 auto;
    padding: 3rem;
    background: #eee;
    color: #111;
}

a {
    color: #03c;
    text-decoration: none;
}

pre {
    display: inline-block;
}
p + pre {
    margin-left: 0.5em;
}
p + br + p {
    margin-top: -2em;
}

img[src*=SPOILER_]:not(:hover) {
    filter: blur(5px) brightness(10%);
    overflow: hidden;
    transition: 0.2s linear;
    position: relative;
}
img[src*=SPOILER_]:hover {
    transition: 0.2s linear;
}

.topics, .threads {
    display: block;
}

.topics button {
    float: right;
    border: none;
    outline: none;
    padding: 5px;
    background: #ddd;
}

.title, .threadnum {
    padding: 5px;
}

.row {
    display:block;
    margin: 5px 0;
}

.title {
    background: #ddd;
    flex: 3;
    margin: 2px;
}

.threadnum {
    background: #ccc;
    margin: 2px;
    flex: 1;
}

.post {
    display: block;
}
.flex {
    display: flex;
    position: relative;
}
.flex.column {
    flex-direction: column;
}

.header {
    display:block;
    width:100%;
    padding: 5px;
    background: #ccc;
    border: 1px solid #ddd;
}
.userinfo {
    flex: 1;
    background: #ddd;
    border: 1px solid #eee;
    padding: 25px 0 25px 50px;
    margin-right:10px;
}
.postinfo {
    flex: 4;
    padding-bottom: 2em;
    word-break: break-word;
}
.postinfo img {
    max-width: 50%;
    margin-bottom:5%;
}
.postinfo p {
    white-space: pre-line;
}

.reactions .reaction {
    display: inline-block;
    height: 1em;
    padding: 0.25em;
    background: #ddd;
}

.reactions .reaction .emoji {
    height: 100%;
}

.badge {
    background: #bbb;
    padding: 4px;
    margin: 4px;
}
.top {
    height: 5%;
    display: block;
    color: #222;
    margin: 10px 0;
}
.top a {
    color: black;
}

.nav {
    display: block;
    padding: 15px;
    margin: 10px 0 50px 0;
    background: #ddd;
}

.nsfwwarn {
    display: block;
    width: 50vw;
    margin: 0 auto;
    color: white;
    background: #FF4343;
    padding: 32px;
    text-align: center;
}

/* mobile */

@media (max-width: 600px) {
    .postinfo img {
        max-width: 100%;
    }
}
