<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
    </head>
    <body>
        <span class='top'>
            <h1><a href="/">dfs</a></h1>
        </span>
