<span class='nsfwwarn'>
	<h1>This forum has been marked as NSFW by its maintainers; some content may be shocking to some readers. By proceeding you acknowledge that you are 18 or older</h1>
	<form>
		<input type="hidden" name="nsfw" value="true">
		<input type="submit">
	</form>
</span>
